# Python
__pycache__/
*.pyc

# Virtual environments
env/
venv/
ragi/

# Database
db.sqlite3

# Environment variables
.env

# Uploaded files
media/

# FAISS indexes
faiss_indexes/

# Static build output
staticfiles/

# IDE
.vscode/
.idea/